#headdiv {
    background-color: #00a1d6;
    width: 100%;
    height: 25px
}

#homepage {
    height: 25px;
    width: 32px;
    position: relative;
    float: left;
    left: 1%;
}

#massegediv {
    float: right;
    height: 25px;
    width: 32px;
    position: absolute;
    right: 94px;
    /*right:30%;*/
}

#userdiv {
    float: right;
    height: 25px;
    width: 32px;
    position: absolute;
    right: 53px;
    /*right:20%;*/
}

#helpdiv {
    float: right;
    height: 25px;
    width: 32px;
    position: absolute;
    right: 14px;

}

#tankuang {
    float: left;
    background-color: #00a1d6;
    width: 150px;
    height: 237px;
    position: absolute;
}
#tableid{
    width:  80%;;
    height: 500px;
    position: absolute;
    top: 56px;
    left: 157px;
}
table{
    width: 100%;
    height: 80%;
}
#nextpage{
    position: absolute;
    right: 0;
}
#upload{
	
}
